<h1>Un participant s'est inscrit à votre événement, <%= @event.title %> !</h1>
<p><%= @participant.first_name %> <%= @participant.last_name %> vient de s'inscrire à votre événement.</p>
<p>Rendez-vous sur votre tableau de bord pour plus d'informations.</p>
<p>Cordialement,<br>L'équipe Eventbrite</p>
