<!DOCTYPE html>
<html>
  <body>
    <h1>Bienvenue sur notre plateforme, <%= @user.first_name %> !</h1>
    <p>Nous sommes heureux de vous avoir parmi nous. Pour commencer, vous pouvez vous connecter à votre compte en suivant ce lien :</p>
    <p><a href="<%= @url %>">Se connecter</a></p>
    <p>À bientôt !</p>
  </body>
</html>
