.custom-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.btn-custom {
  background-color: #ecaacb;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #4a0044;
  color: white;
}


.card-body {
  background-color: #fafafa;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #4a043e;
  margin-bottom: 15px;
}

.card-text {
  color: #333333;
  line-height: 1.6;
  font-size: 0.95rem;
}


@media (max-width: 768px) {
  .custom-card {
      width: 100%;
  }
}

.card-text.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
}
